              
// hello

foreground
int idx
limit_256
32, ';', 5, ';', idx, 'm'
         

    background
    int idx
    limit_256
    42, ';', 5, ';', idx, 'm'
                
    foreground
    int R, int G, int B
    limit_256
    38, ';', 5, ';', R, ';', G, ';', B, 'm'

            
    // world
    // world

background
int R, int G, int B
limit_256
38       ,     ';', 5, ';', R, ';', G, ';', B, 'm'
// comment
foreground
COLOR color
             
(int)color + 30, 'm'


// hello there
background
COLOR color

(int)color + 40, 'm'


                    
                    
                    
